.navbar {
    background-color: rgb(42, 42, 58);
    padding: 1.5rem;
    height: 2rem;
    box-shadow: 5px 5px 5px lightgrey;
}

.navbar-title {
    font-size: 2rem;
    margin: 0;
}

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
}

.links {
    position: relative;
    bottom: .4rem;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

.logout-button {
    /* position: fixed; */
    height: 1.6rem;
    /* right: 0;
    margin-right: 2.5rem; */
}

.logout-container {
    position: relative;
    text-align: right;
    top: -2.3rem;
    left: -1rem;
}