.new-waste-form {
    line-height: 1.9rem;
}

.waste-form-food-name-input {
    font-size: 0.8rem;
    text-align: center;
    width: 7rem;
    border: 0;
    border-bottom: 1px black solid;
}

.waste-form-quantity-input {
    font-size: 0.8rem;
    text-align: center;
    width: 5rem;
    border: 0;
    border-bottom: 1px black solid;
}

/* .submit-waste-form-button {
    border: 1px black solid;
} */